<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/styles/sign.css">
</head>
<body>
<p th:text="${session.username}"></p>
<a href="/customer/details/update">修改</a>
<a href="/customer/sign/out">退出</a>

<!-- search -->
<form class="form-inline">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fa fa-times"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

</body>
</html>