<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
    <div>
        <form action = "/customer/details/update" method = "post" th:object="${session.CustomerDetails}">
            <input type="text" placeholder="用户名" th:value="*{realname}" name="realname">
            <input type="text" placeholder="性别" th:value="*{sex}" name="sex">
            <input type="date" min="1970-01-01" max="2099-12-31" th:value="*{birthdate}" name="birthdate">
            <input type="text" placeholder="住址" th:value="*{location}" name="location">
            <input type="text" placeholder="爱好" th:value="*{like}" name="like">
            <input type="hidden" th:value="*{customerId}" name="customerId">
            <button type="submit">修改</button>
        </form>
    </div>
</body>
</html>