<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/kiruya/css/need.css">
</head>

<body>

<div class="shell">
    <h2 class="title">Login</h2>
    <form action="/login/make" method="post">
        <input type="text" id="username" placeholder="Username" name="username">
        <input type="password" id="password" placeholder="Password" name="password">
        <input type="submit" value="Login" id="loginBtn">
    </form>

    <div class="footer">
        <p id="message" th:text="${session.message}"></p>
        <p th:text="${msg}"></p>
    </div>
</div>

</body>
</html>