<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <fieldset>
        <legend>
            注册
        </legend>
        <form action="/customer/sign/up">
            <input type="text" name="username" placeholder="用户名" method="post">
            <input type="password" name="password" placeholder="密码">
            <input type="text" name="realname" placeholder="姓名"><br>
            <input type="radio" name="sex" value="male">男
            <input type="radio" name="sex" value="female">女<br>
            <input type="date" min="1970-01-01" max="2099-12-31" name="busiExpireDate">
            <input type="text" name="location" placeholder="住址">
            <input type="checkbox" name="like" value="Bike">我喜欢自行车<br>
            <input type="checkbox" name="like" value="Car">我喜欢小汽车<br>
            <button type="submit">注册</button>
        </form>
    </fieldset>
</body>
</html>